@using EntityLayer.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-bordered" style="margin-bottom:20px">
    <tr>
        <th>#</th>
        <th>Category Name</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Headings</th>
    </tr>
@foreach (var category in Model)
{
    <tr>
        <th>@category.CategoryID</th>
        <td>@category.CategoryName</td>
        <td><a href="/AdminCategory/DeleteCategory/@category.CategoryID" class="btn btn-danger">Delete</a></td>
        <td><a href="/AdminCategory/EditCategory/@category.CategoryID" class="btn btn-outline-warning">Update</a></td>
        <td><a href="#" class="btn btn-outline-primary">Heading</a></td>
    </tr>
}

</table>
<br />
<a href="/AdminCategory/AddCategory" class="btn btn-outline-info">New Category</a>