@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-bordered" style="margin-bottom:20px">
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Status</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Book</td>
        <td>Active</td>
    </tr>

</table>