
@{
    Layout = null;
}

<h3>Mvc Camp Table Example</h3>
<br />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<table class="table table-hover">
    <tr>
        <th> ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>STATUS</th>
        <th>UPDATE</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Education</td>
        <td>A definition was made</td>
        <td>True</td>
       <td><button class="btn btn-success">UPDATE</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Book</td>
        <td>A definition was made</td>
        <td>True</td>
        <td><button class="btn btn-success">UPDATE</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Cinema</td>
        <td>Waiting for a definition</td>
        <td>True</td>
        <td><button class="btn btn-success">UPDATE</button></td>
    </tr>
</table>
<button class="btn btn-info">New Category</button>
<button class="btn btn-warning">Category List</button>
<button class="btn btn-danger">Category Definitions</button>
